body {
    width: 300px;
    /* width of popup extension */
    height: 400px;
    /* height of popup extension */
    padding: 20px;
    overflow: auto;
    /* so we can scroll once there's more content */
}

#loader-container {
    text-align: center;
    margin-top: 135px;
}

#sentenceSubmit {
    border: 2px solid #111;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    display: inline-block;
}

#loading-icon {
    width: 50px;
    height: 50px;
}