body {
  width: 300px;
  /* width of popup extension */
  height: 400px;
  /* height of popup extension */
  padding: 20px;
  overflow: auto;
  /* so we can scroll once there's more content */
}

#loader-container {
  text-align: center;
  margin-top: 135px;
}

#loading-icon {
  width: 50px;
  height: 50px;
}

#sentenceSubmit {
  margin-bottom: 20px;
  margin-top: 10px;
}

#icon {
  position: absolute;
  top: 24px; 
  right: 32px; 
  width: 60px;
  height: auto;
}

/* Summarize Button */
.styled-button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  background-color: #d9534f;
  color: #ffffff; 
  border: 2px solid #d9534f;
}

/* Hover effect */
.styled-button:hover {
  background-color: #2980b9;
  color: #ffffff; 
  border: 2px solid #2980b9; 
}

.instruction-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    background-color: #f9f9f9;
    position: relative;
  }
  
  .instruction-box p {
    margin: 10px 0;
  }
  
  #closeButton {
    display: inline-block;
    padding: 5px 10px;
    background-color: #d9534f;
    color: white;
    border: #d9534f;
    border-radius: 5px;
    cursor: pointer;
  }

  #chatGPTResponse {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    background-color: #f9f9f9;
    position: relative;
  }
  




